@import "tailwindcss";

.blurred{
    @apply blur-[2px] 
           pointer-events-none 
           select-none
}
.common-btn-style{
     @apply  flex 
            items-center 
            justify-center 
            gap-2
            rounded-lg 
            cursor-pointer  
            py-2 px-4 

}
.normal-btn{
    @apply  bg-white 
            hover:bg-gray-100 
            border border-gray-200
}
.blue-btn{
    @apply  text-white 
            bg-blue-600 
            hover:bg-blue-800 
}
.red-btn{
     @apply text-white 
            bg-red-500 
            hover:bg-red-600     
}

.hoverEffect{
    @apply rounded-sm
           p-2
           cursor-pointer
           hover:bg-gray-100
}


/* Navbar styling */

.navContainer-light{
    @apply drop-shadow-black 
           bg-white 
           border-gray-300
}
.navContainer-dark{
    @apply drop-shadow-white 
           bg-blue-950 
           border-gray-300

}
.logoStyle{
    @apply font-medium
           text-2xl 
           p-2
}
.navIcon{
    @apply rounded 
           box-border 
           text-2xl 
           p-2 
           cursor-pointer 
           hover:bg-gray-100
           hover:text-black
}

/* SideBar Styling */
.sidebarContainer{
    @apply w-64 
           h-screen 
           fixed 
           left-0 
           drop-shadow-black 
           z-10 
           shadow 
           p-4 
           space-y-2 
           overflow-auto
}
.sidebarElements{
    @apply flex items-center gap-2 text-[18px] rounded-md cursor-pointer p-2 
}

 .sidebarNestedElements{
    @apply p-2 pl-8  rounded-md cursor-pointer
 }

 /* User Form & Product form STyling*/

.formContainer{
    @apply sm:min-w-[200px] sm:max-w-[500px] 
           md:min-w-[350px] md:max-w-[750px] 
           lg:min-w-[650px] lg:max-w-[900px] 
           max-h-[85vh] overflow-auto 
           rounded-lg 
           shadow-lg shadow-gray-500  border border-gray-400
 }

 .formMainContainer{
    @apply fixed inset-0 z-50 flex items-center justify-center flex-col px-5  
 }
 .closeIcon{
    @apply text-2xl box-border rounded-sm p-2
           cursor-pointer
 }
 .inputFields-dark {
  @apply border border-gray-200 rounded-sm py-2 px-3 w-full mt-2 bg-gray-800 ;
}

.inputFields-light {
  @apply border border-gray-400 rounded-sm py-2 px-3 w-full mt-2 bg-gray-50;
}

/* Users and Products */
.actionBtn{
    @apply flex items-center gap-2 justify-center  rounded-lg cursor-pointer py-2 px-2 border
}

/* Products Table */
.tableHead{
    @apply border-1 border-gray-300 font-medium text-[14px]
}
.tableRow{
    @apply border-1 border-gray-300 cursor-pointer
}
.tableHeading{
    @apply font-[400] p-4 text-left
}

.errorAndLoadMessage{
    @apply text-center mt-5 text-red-500 font-bold text-lg min-h-full h-full pb-96
}

.iconStyle{
    @apply cursor-pointer
           rounded-lg
           p-2
           text-white
}