@import "tailwindcss";

.common-btn-style{
     @apply  flex 
            items-center 
            justify-center 
            gap-2
            rounded-lg 
            cursor-pointer  
            py-2 px-3 

}
.normal-btn{
    @apply  bg-white 
            hover:bg-gray-100 
            border border-gray-200
}
.blue-btn{
    @apply  text-white 
            bg-blue-600 
            hover:bg-blue-800 
}
.red-btn{
     @apply text-white 
            bg-red-500 
            hover:bg-red-600     
}

.hoverEffect{
    @apply rounded-sm
           p-2
           cursor-pointer
           hover:bg-gray-100
}


/* Navbar styling */

.navContainer-light{
    @apply drop-shadow-black 
           bg-white 
           border-gray-300
}
.navContainer-dark{
    @apply drop-shadow-white 
           bg-blue-950 
           border-gray-300

}
.logoStyle{
    @apply font-medium
           text-2xl 
           p-2
}
.navIcon{
    @apply rounded 
           box-border 
           text-2xl 
           p-2 
           cursor-pointer 
           hover:bg-gray-100
           hover:text-black
}